<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
		<link rel="stylesheet" href="./css/styles.css" type="text/css" media="all"/>
		<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
		<script type="text/javascript" src="/js/validar.js"></script>
		<title>Interprete Orientado a Objetos</title>
	</head>
	<body>
		<h1>Crea y Trabaja con tus propios objetos Python</h1>
		<p>
		
		
		<div id="form">
			<form id="frmInput" action="/interprete" method="post">
				<p>
				
					Grados: {{OBJETOS}}
				
				</p>
				<input type="submit" value="Enviar">
			</form>
		</div>
	</body>
</html>
