<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="./css/styles.css" type="text/css" media="all"/>
		<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
		<script type="text/javascript" src="/js/validar.js"></script>
		<link rel="stylesheet" href="./css/bootstrap.min.css" type="text/css" media="all"/>
		
		<title>Interprete Orientado a Objetos</title>
	</head>
	<body>
		<div name="header" id="header"></div>
			<div class="row">
				<div class="col-xs-9">
						<button id="nObject">New Object</button>
						<button id="nAttr" >New Attr</button>
						<button id="nMethod">New Method</button>
						<a href="/listar"><button id="listar">Listar objetos</button></a>
				</div>
			</div>
			<div class="row">
    <div>
        		<form novalidate method="post" name="frmInput" id="frmInput" class="form">
           	
            <div class="buttons">
                <button class="btn btn-default" name="enviar" type="submit" disabled="form.$error.required">Enviar</button>
            </div>
        </form>
    </div>
</div>
			<div id="listado">
			{% for pos in objetos %}
				{% if loop.index <= 3 %} 
				<div id="{{pos['name']}}">
				{% for key, value in pos.items() %}  
					<dt>{{ key }}</dt>
					<dd>{{ value }}</dd>
				{% endfor %}
				</div>
				{% endif %}
			{% endfor %}
			</div>
		
			
	<div name="footer" id="footer"></div>
	</body>
</html>
